@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  background-color: #030712;
  padding:2px 5px ;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

button{
  border: #0099ff dashed 1px;
  background-color: transparent;
  color: #baabf2;
  min-width: 90px;
  padding:  0 2px;
  margin-left: 5px;
}

button:hover{
  background-color: #081432;
}
